@keyframes unfocusing {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.8;
    transform: translate(-10%, -10%);
    opacity: 0.7;
  }
  100% {
    scale: 1;
    transform: none;
    z-index: 0;
    opacity: 1;
  }
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  border: 3px solid #000;
  background-color: #c6cded;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.04, 0.05, 0, 1);
  transform-origin: 0% 0%;
  animation: unfocusing 0.7s forwards 1 cubic-bezier(0.04, 0.05, 0, 1);
  padding: 1em;
  display: grid;
  place-items: center;

  @media screen and (max-width: 768px) {
    border-width: 1px;
  }

  form {
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    fieldset {
      border: 0;

      legend {
        font-size: 1.5vw;
        font-weight: 700;

        @media screen and (max-width: 1024px) {
          font-size: 1.8vw;
        }

        @media screen and (max-width: 768px) {
          font-size: 4vw;
        }
      }
      input,
      textarea,
      button {
        -webkit-appearance: none;
        border-radius: 0;
      }
      label {
        display: flex;
        width: 100%;
        position: relative;

        .atSymbol {
          position: absolute;
          top: 50%;
          left: 0.5em;
          opacity: 0.5;
          font-weight: 700;
          transform: translateY(-50%);
        }
        input {
          padding: 0.2rem;
          padding-left: 1rem;
          padding-right: 5em;
          font-family: "Poppins", sans-serif;
          font-size: 1vw;
          width: 100%;
          border-radius: 0.7rem;
          border: 2px solid #000;
          transition: box-shadow 0.6s;

          &:active {
            box-shadow: 0 0 3px black;
            // border: 0;
            outline: 0;
          }

          &:focus {
            // border: 0;
            outline: 3px solid #edc6e6;
          }

          @media screen and (max-width: 1320px) {
            font-size: 1.5vw;
          }

          @media screen and (max-width: 1024px) {
            font-size: 1.8vw;
          }

          @media screen and (max-width: 768px) {
            font-size: 3vw;
          }
        }

        button {
          font-size: 1vw;
          position: absolute;
          right: 0;
          padding: 0.2rem 1rem;
          border-radius: 0;
          border-left: 0;
          background-color: #000;
          font-family: "Poppins", sans-serif;
          color: #c6cded;
          border-radius: 0.7rem;
          border-style: solid;
          border: 2px solid #000;
          cursor: pointer;

          @media screen and (max-width: 1320px) {
            font-size: 1.5vw;
          }

          @media screen and (max-width: 1024px) {
            font-size: 1.8vw;
          }

          @media screen and (max-width: 768px) {
            font-size: 3vw;
          }
        }
      }
    }
  }
}

@keyframes focusing {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.8;
    transform: translate(-10%, -10%);
    opacity: 0.6;
  }
  100% {
    scale: 1;
    transform: none;
    z-index: 1;
    opacity: 1;
  }
}
.focused {
  pointer-events: all;
  width: 90%;
  height: 90%;
  animation: focusing 0.7s forwards 1 cubic-bezier(0.04, 0.05, 0, 1);
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 100%;
  }
}
