@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  border: 2px solid #000;
  border-radius: 1em 1em 1em 0;
  max-width: 52%;
  padding: 1em;
  opacity: 0;
  animation: fadeIn 0.3s forwards 1 ease normal;
  margin-right: auto;
  margin-left: 0;
  font-size: 0.9vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  transform-origin: 0 50%;
  transition: scale 0.3s;
  cursor: pointer;

  &:hover {
    scale: 1.1;

    .twitterIcon {
      opacity: 1;
      transform: translateX(0) rotate(0) scale(1);
    }
  }

  @media screen and (max-width: 1024px) {
    font-size: 1.3vw;
    max-width: 55%;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.7vw;
  }

  @media screen and (max-width: 640px) {
    font-size: 0.7rem;
  }

  &.stickyRight {
    margin-left: auto;
    margin-right: 0;
    border-radius: 1em 1em 0 1em;
  }

  .twitterIcon {
    position: absolute;
    left: 105%;
    top: 50%;
    opacity: 0;
    transform-origin: 0 0;
    transform: translateX(-50%) rotate(-90deg) scale(0.5);
    transition: all 0.4s cubic-bezier(0.04, 0.05, 0, 1);

    @media screen and (max-width: 768px) {
      opacity: 1;
      transform: translateX(0) rotate(0) scale(1);
    }
  }
}
