$bottomOverlap: 3rem;
$rightOverlap: 2rem;

.container {
  width: 60%;
  height: 45%;
  position: fixed;
  bottom: -$bottomOverlap;
  right: -$rightOverlap;
  border: 3px solid #000;
  border-bottom: 3px solid #000;
  padding: 5rem;
  line-height: 1em;
  padding: 3rem;
  padding-right: 3rem + $rightOverlap;
  text-align: right;

  //   letter-spacing: -0.1em;
  //   font-weight: bold;
  font-size: 2vw;

  transition: all 0.3s;

  @media screen and (min-width: 2000px) {
    // font-size: 8vw;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 20%;
    right: 0;
    border: 0 solid #000;
    border-top: 3px solid #000;
    padding: 2rem;
    display: grid;
    place-items: start center;
    font-size: 1rem;
  }
}
