@keyframes unfocusing {
  0% {
    scale: 1;
    z-index: 1;
  }
  50% {
    scale: 0.8;
    transform: translate(10%, 10%);
    z-index: 1;
    opacity: 0.7;
  }
  100% {
    scale: 1;
    transform: none;
    z-index: 0;
    opacity: 1;
  }
}

.container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 70%;
  border: 3px solid #000;
  background-color: #c6cded;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.04, 0.05, 0, 1);
  transform-origin: 100% 100%;
  animation: unfocusing 0.7s forwards 1 cubic-bezier(0.04, 0.05, 0, 1);
  padding: 1em 3em;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    border-width: 1px;
  }

  .top {
    margin: 0.5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .userHandle {
      margin-right: auto;
      margin-left: auto;
      font-size: 1.4vw;
      font-weight: bold;

      @media screen and (max-width: 1300px) {
        font-size: 1.9vw;
      }

      @media screen and (max-width: 1024px) {
        font-size: 2.4vw;
      }
    }
  }

  .chatBox {
    height: 100%;
    display: grid;
    place-items: bottom center;
    margin-bottom: 3em;
    overflow-y: scroll;
    font-size: 0.7vw;
    padding: 1.5em;
    .chatBoxInner {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: auto;
      gap: 1rem;
    }
  }

  .entryBox {
    width: 100%;
    form {
      display: grid;
      place-items: center;
      text-align: center;
      fieldset {
        width: 100%;
        border: 0;
        input,
        textarea,
        button {
          -webkit-appearance: none;
          border-radius: 0;
        }
        label {
          display: flex;
          position: relative;
          input,
          textarea {
            padding: 0.5rem;
            padding-left: 1rem;
            padding-right: 5em;
            font-family: "Poppins", sans-serif;
            font-size: 0.9vw;
            width: 100%;
            border-radius: 0.7rem;
            border: 2px solid #000;
            transition: box-shadow 0.6s;

            &:active {
              box-shadow: 0 0 3px black;
              outline: 0;
            }

            &:focus {
              outline: 3px solid #edc6e6;
            }

            @media screen and (max-width: 1320px) {
              font-size: 1.3vw;
            }

            @media screen and (max-width: 1024px) {
              font-size: 1.3vw;
            }

            @media screen and (max-width: 768px) {
              font-size: 1.7vw;
            }

            @media screen and (max-width: 640px) {
              font-size: 1rem;
            }
          }

          button {
            font-size: 1vw;
            position: absolute;
            right: 0;
            padding: 0.2rem 1rem;
            border-radius: 0;
            border-left: 0;
            background-color: #000;
            font-family: "Poppins", sans-serif;
            color: #c6cded;
            border-radius: 0.7rem;
            border-style: solid;
            border: 2px solid #000;
            height: 100%;
            cursor: pointer;

            @media screen and (max-width: 1320px) {
              font-size: 1.5vw;
            }

            @media screen and (max-width: 1024px) {
              font-size: 1.8vw;
            }

            @media screen and (max-width: 768px) {
              font-size: 3vw;
            }
          }
        }
      }
    }
  }
}

@keyframes focusing {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.8;
    transform: translate(10%, 10%);
    opacity: 0.6;
  }
  100% {
    scale: 1;
    transform: none;
    z-index: 1;
    opacity: 1;
  }
}
.focused {
  pointer-events: all;
  width: 90%;
  height: 90%;
  animation: focusing 0.7s forwards 1 cubic-bezier(0.04, 0.05, 0, 1);
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 100%;
  }
}
